td, th {
  border: 1px solid;
  border-collapse: collapse;
  padding: 0.1em 0.4em 0.1em;
}

tr.expired {
  background-color: #fcc;
}

tr.pre-registration {
  background-color: #ffc;
}

table {
  border: 1px solid;
  border-spacing: 0;
}
